<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
</head>

<body>
    <form action="/" method="POST">
        <label for="cityInput">stockName: </label>
        <input type="text" name="stockName" id="stockInput">
        <button type="submit">Search</button>
    </form>

    <%- intraDay_data %>

    <script src="path/to/alphavantage/dist/bundle.js"></script>

    <!-- <script type="application/javascript">
          /**
           * Init Alpha Vantage with your API key.
           *
           * @param {String} key
           *   Your Alpha Vantage API key.
           */
          const alpha = alphavantage({
              key: 'VIROL8PEM17WAZYM'
          });
      </script> -->
</body>

</html>